<!DOCTYPE html>
<html lang="en" ng-app="TodoApp" ng-strict-di="true">
<head>
    <meta name="viewport" content="width=320, initial-scale=1">
    <meta charset="utf-8">
    <title ng-bind="$root.pageTitle"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="/bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet">
    <style>
        .is-clickable {
            cursor: pointer !important;
        }
        .sub-table-title {
            border-top: 0 !important;
        }
        table.md-table.is-md-row-select tbody.md-body > tr.md-row:not([disabled]):hover {
            background-color: #eeeeee !important;
        }
        md-table-container {
            overflow-x: auto;
        }
        .my-md-icon-36 {
            width: 36px;
            height: 36px;
            line-height: 36px;
            font-size: 36px;
        }
        .disable-animation,
        .disable-animation .md-input-message-animation {
            transition: none !important;
        }
        .my-md-datepicker-container {
            margin-bottom: 22px;
        }

        .my-md-datepicker-container [ng-message] {
            color: rgb(221, 44, 0);
            font-size: 12px;
            padding-left: 2px;
        }
    </style>
</head>
<body ng-cloak layout="column">
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/dist/app.js"></script>

    <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools">
            <div class="md-title">{{ $root.pageTitle }}</div>
        </div>
    </md-toolbar>
    <div ui-view></div>
</body>
</html>
