<md-content layout-padding="">
  <div layout="column" layout-align="end end" layout-wrap="">
    <md-button ui-sref="taskList.add" class="md-fab md-primary md-ink-ripple" title="Add task">
      <md-icon md-font-icon="material-icons my-md-icon-36">add</md-icon>
    </md-button>
  </div>

  <md-card>
    <md-table-container>
      <table md-table class="is-md-row-select">
        <thead md-head md-order="tasksList.orderOption">
        <tr md-row>
          <th md-column><span>Number</span></th>
          <th md-column md-order-by="done" md-desc><span>Done</span></th>
          <th md-column md-order-by="name" md-desc><span>Name</span></th>
          <th md-column md-numeric md-order-by="duration" md-desc><span>Duration (hours)</span></th>
          <th md-column md-order-by="description" md-desc><span>Description</span></th>
        </tr>
        </thead>
        <tbody md-body ng-repeat="tasksByDay in tasksList.tasks">
        <tr md-row disabled>
          <td md-cell colspan="5"></td>
        </tr>
        <tr md-row disabled>
          <td md-cell colspan="5" class="sub-table-title">
            <md-toolbar class="md-table-toolbar md-default">
              <div class="md-toolbar-tools">
                <span>{{ tasksByDay.date | date: 'dd.MM.yyyy' }}</span>
              </div>
            </md-toolbar>
          </td>
        </tr>
        <tr ui-sref="taskList.edit({id: task._id})" md-row ng-repeat="task in tasksByDay.tasks | orderBy: tasksList.orderOption track by task._id"
            class="is-clickable">
          <td md-cell>{{ $index + 1 }}</td>
          <td md-cell>
            <md-checkbox ng-click="$event.stopPropagation()" aria-label="done" ng-model="task.done" ng-change="tasksList.change(task)"></md-checkbox>
          </td>
          <td md-cell>{{ task.name }}</td>
          <td md-cell>{{ task.duration }}</td>
          <td md-cell>{{ task.description }}</td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
</md-content>
