<md-content layout-padding="">
  <div>
    <form name="taskForm" novalidate ng-submit="task.save($event);">
      <div class="my-md-datepicker-container">
        <md-datepicker name="date" ng-model="task.pendingTask.date" md-placeholder="Enter due date" required
                       ></md-datepicker>

        <div ng-messages="taskForm.date.$error" role="alert" class="disable-animation" ng-show="taskForm.date.$touched && taskForm.date.$invalid">
          <div ng-message="valid">Please enter due date in valid format.</div>
          <div ng-message="required">Please enter due date.</div>
        </div>
      </div>

      <md-input-container class="md-block">
        <label>Enter planned duration (in hours)</label>
        <input type="number" name="duration" ng-model="task.pendingTask.duration" required min="1" max="24"
               ng-focus="taskForm.duration.$setValidity('duration-limit', true);"
               ng-keydown="taskForm.duration.$setValidity('duration-limit', true);">

        <div ng-messages="taskForm.duration.$error" role="alert" class="disable-animation" ng-show="taskForm.duration.$invalid">
          <div ng-message="required">Please enter planned task duration.</div>
          <div ng-message="number">Please enter planned task duration as number of hours.</div>
          <div ng-message="min">Minimum duration is 1 hour.</div>
          <div ng-message="max">Maximum duration is 24 hours.</div>
          <div ng-message="duration-limit">
            You cannot save such duration for this date, please enter other duration or choose different date.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Enter task name</label>
        <input name="name" ng-model="task.pendingTask.name" required ng-minlength="1" md-maxlength="60" my-non-empty>

        <div ng-messages="taskForm.name.$error" role="alert" class="disable-animation"
             ng-show="taskForm.name.$touched && taskForm.name.$invalid">
          <div ng-message="my-non-empty">Please enter task name.</div>
          <div ng-message="required">Please enter task name.</div>
          <div ng-message="md-maxlength">Please enter task name less than 60 characters.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Enter description</label>
        <textarea ng-model="task.pendingTask.description" md-maxlength="500" rows="5" md-select-on-focus=""></textarea>
      </md-input-container>

      <div layout="row" layout-align="end end" layout-wrap="">
        <md-button type="submit" ng-disabled="taskForm.$invalid" class="md-raised md-primary">
          {{ task.editingMode ? 'Save changes' : 'Add task' }}
        </md-button>
        <md-button ui-sref="^.show" class="md-raised">Cancel</md-button>
      </div>
    </form>
  </div>
</md-content>
